[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
requests = "*"
scrapy = "*"
pandas = "*"
"flake8" = "*"
isort = "*"
seaborn = "*"
vega = "*"
notebook = "*"
altair = "*"
vega-datasets = "*"
jupyter = "*"
camelot-py = "*"
squarify = "*"
scikit-learn = "*"
simplejson = "*"
pyparsing = "*"
imutils = "*"
keras = "*"
tensorflow = "*"
requests-cache = "*"

[requires]
python_version = "2.7"

[dev-packages]
